$main-color: #fff;
$dark-color: #43425D;
$light-color: #EAF0F4;
$light-font-color: #D6D6D6;
$medium-font-color: #A3A6B4;
$dark-font-color: #4D4F5C;
$blue-font-color:#3B86FF;
$box-shad: 0px 3px 18px #000000;
$m-button-fontcolor: #6A6996;
$red-button-fontcolor: #FF5F5F;
$head-button-color: #D7DAE2;
