.form {
	position: relative;
	width: 201px;
	height: 275px;
	padding: 30px 23px;
	box-sizing: border-box;
	background: $main-color 0% 0% no-repeat padding-box;
	box-shadow: $box-shad;
	border: 1px solid $dark-color;
	border-radius: 10px;
	opacity: 1;

	&__input {
		width: 148px;
		height: 19px;
		margin-bottom: 30.5px;
		border-width: 0 0 1px;
		border-color: $light-color;
	}

	&__button {
		height: 15px;
		padding: 2px;
		background-color: $main-color;
		border: none;
	}
}

.close {
	position: absolute;
	top: 6px;
	right: 7px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border-color: $light-font-color;
	border-width: 1px;
	border-style: solid;
	color: $light-font-color;
}

.m-button {
	color: $m-button-fontcolor;
}

.red-button {
	color: $red-button-fontcolor;
}