@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200i,400,700&display=swap');

@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';
@import '../node_modules/react-datepicker/src/stylesheets/datepicker.scss';

@import './variables';
@import './components/formEvent/formevent.scss';
@import './components/customCalendar/customCalendar.scss';

.calendar-page {
	padding: 32px 95px 103px 75px;
	background-color: $background-page;
	font-family: $main-font;
	color: $main-font-color;

	&>h1 {
		margin: 0;
		font-size: 28px;
		font-weight: normal;
	}
}